<div class="container-fluid">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Movie App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="movies">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--
<h1><a class="encabezado" routerLink="">Movie App</a></h1>
<nav class="nav-list">
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  routerLink="movies">Peliculas</a>
    </li>
    <li class="nav-item">
        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="users">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="profile">Perfil</a>
    </li>
    </ul>
    <ul>
        <li><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  routerLink="movies">Peliculas</a></li>
        <li><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="users">Usuarios</a></li>
        <li><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="profile">Perfil</a></li>
    </ul>
</nav>-->
</div>


