.error, .success {       /* son párrafos, mantenemos bloque */
    display: block;        
    text-align: center;    /* solo ocupan el ancho del texto */
    margin: 2pxpx auto;        /* ahora sí se centran */
    font-size: smaller;
}

.error{
    color: lightcoral;
}

.success{
    color: lightgreen;
}

.contenedor {
    margin: 0 auto;
    width: 500px;
}

.label{
    width: 49%;
    float: left;
}

.recuadro{
    width: 49%;
    float: right;
}

button {
    display: block;     /* convierte el botón en bloque */
    margin: 15px auto;  /* ahora sí se centra horizontalmente */
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 0;
    border: 0 ;
}

fieldset {
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #3C2848;
}

input{
    background-color: #252529;
    border: 1px solid #3D444D;
}