<div class="contenedor">
    <form [formGroup]="loginForm" (submit)="Login()">
        <fieldset>
            <div class="label">
            <label>Ingrese Usuario</label>
            </div>
            
            <div class="recuadro">
            <input type="text" id="user" formControlName="usuario">
            
            </div>
        </fieldset>
            @if (usuario.invalid && usuario.touched){
                <p class="error">Usuario es requerido</p>
            }
        <br>
        <fieldset>
            <div class="label">
            <label>Ingrese Contraseña</label>
            </div>
            <div class="recuadro">
            <input type="password" id="password" formControlName="password">
            
            </div>
        </fieldset>
            @if (password.hasError("required") && password.touched){
                <p class="error">Contraseña es requerida</p>
            }@else if (password.hasError("minLength") || password.hasError("maxLength")&& password.touched){
                <p class="error">Contraseña debe tener entre 4-30 caracteres</p>
            }
        <button [disabled]="loginForm.invalid">Ingresar</button>
        @if (success == "y"){
            <p class="success">Credenciales Correctas!</p>
        }@else if (success == "n"){
            <p class="error">Credenciales Invalidas!</p>
        }
    </form>
</div>